openapi: 3.1.0
info:
  title: Poké Berries Utility API
  description: PokéAPI v2 is a free, open-source RESTful API serving comprehensive Pokémon data — species, abilities, moves, items, types, locations, evolution chains, encounters, berries, contests, games, and machines. All endpoints are GET-only and require no authentication. Please cache resources locally; rate limits were removed in 2018 but persistent abusers may be IP-banned.
  version: '2'
  contact:
    name: PokéAPI Maintainers
    url: https://pokeapi.co
  license:
    name: BSD-3-Clause
    url: https://github.com/PokeAPI/pokeapi/blob/master/LICENSE.md
servers:
- url: https://pokeapi.co/api/v2
  description: PokéAPI v2 production base URL
tags:
- name: Utility
  description: Cross-cutting utility resources such as supported languages.
paths:
  /language:
    get:
      tags:
      - Utility
      summary: List Languages
      description: List all supported languages.
      operationId: listLanguages
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A paginated list of language resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamedAPIResourceList'
  /language/{id}:
    get:
      tags:
      - Utility
      summary: Get Language
      description: Retrieve a single language by id or name.
      operationId: getLanguage
      parameters:
      - $ref: '#/components/parameters/IdOrName'
      responses:
        '200':
          description: A single language resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Language'
components:
  parameters:
    Offset:
      name: offset
      in: query
      required: false
      description: Number of items to skip before starting to collect the result set.
      schema:
        type: integer
        minimum: 0
        default: 0
    Limit:
      name: limit
      in: query
      required: false
      description: Number of items to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100000
        default: 20
    IdOrName:
      name: id
      in: path
      required: true
      description: Resource id (integer) or name (slug).
      schema:
        type: string
  schemas:
    Language:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        official:
          type: boolean
        iso639:
          type: string
        iso3166:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/Name'
    Name:
      type: object
      properties:
        name:
          type: string
        language:
          $ref: '#/components/schemas/NamedAPIResource'
    NamedAPIResourceList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
          format: uri
        previous:
          type: string
          nullable: true
          format: uri
        results:
          type: array
          items:
            $ref: '#/components/schemas/NamedAPIResource'
    NamedAPIResource:
      type: object
      properties:
        name:
          type: string
          description: Slug name of the referenced resource.
        url:
          type: string
          format: uri
          description: Canonical URL of the referenced resource.
